
.p1 { 
color: black;
 font-size: 26px;
 font-family: Georgia;
 font-weight: 400;
 word-wrap: break-word;
}
---
/BLOG
.blog { 
color: black;
 font-size: 20px;
 font-family: Vilane;
 font-weight: 200;
 word-wrap: break-word
}
---
/ ABOUT US
.aboutUs {
 color: black;
 font-size: 20px;
 font-family: Vilane;
 font-weight: 200;
 word-wrap: break-word
}
---
// bump bites
color: #4C6044;
 font-size: 48px;
 font-family: Source Serif Pro;
 font-weight: 300;
 word-wrap: break-word
---
// bump bites
color: #4C6044;
 font-size: 48px;
 font-family: Source Serif Pro;
 font-weight: 300;
 word-wrap: break-word
---
// OUR BOX
color: black;
 font-size: 20px;
 font-family: Vilane;
 font-weight: 200;
 word-wrap: break-word
---
// Curated Snacks<br/>
color: #4C6044;
 font-size: 85px;
 font-family: Source Serif Pro;
 font-weight: 700;
 word-wrap: break-word
---
// Just For You
color: #4C6044;
 font-size: 64px;
 font-family: Source Serif Pro;
 font-weight: 700;
 word-wrap: break-word
---
// Free
color: white;
 font-size: 30px;
 font-family: Source Serif Pro;
 font-weight: 700;
 word-wrap: break-word
---
//  shipping with all bundles! Order today! 
color: white;
 font-size: 30px;
 font-family: Source Serif Pro;
 font-weight: 400;
 word-wrap: break-word
---
// Free
color: white;
 font-size: 30px;
 font-family: Source Serif Pro;
 font-weight: 700;
 word-wrap: break-word
---
//  shipping with all bundles! Order today! 
color: white;
 font-size: 30px;
 font-family: Source Serif Pro;
 font-weight: 400;
 word-wrap: break-word
---
// Free
color: white;
 font-size: 30px;
 font-family: Source Serif Pro;
 font-weight: 700;
 word-wrap: break-word
---
//  shipping with all bundles! Order today! 
color: white;
 font-size: 30px;
 font-family: Source Serif Pro;
 font-weight: 400;
 word-wrap: break-word
---
// GET STARTED 
color: white;
 font-size: 40px;
 font-family: Vilane;
 font-weight: 300;
 word-wrap: break-word
---
// bump bites
color: #4C6044;
 font-size: 36px;
 font-family: Source Serif Pro;
 font-weight: 300;
 word-wrap: break-word
---
// Connect with us
color: #4C6044;
 font-size: 24px;
 font-family: Source Serif Pro;
 font-weight: 700;
 word-wrap: break-word
---
// Contact Us
color: #4C6044;
 font-size: 24px;
 font-family: Source Serif Pro;
 font-weight: 700;
 word-wrap: break-word
---
// © 2023 Bump Bites, inc.
color: black;
 font-size: 24px;
 font-family: Source Serif Pro;
 font-weight: 700;
 word-wrap: break-word
---
// Support
color: black;
 font-size: 15px;
 font-family: Source Serif Pro;
 font-weight: 700;
 word-wrap: break-word
---
// FAQ
color: black;
 font-size: 15px;
 font-family:Georgia;
 font-weight: 400;
 word-wrap: break-word
---
// Privacy Policy 
color: black;
 font-size: 20px;
 font-family: Georgia;
 font-weight: 400;
 word-wrap: break-word
---
// Terms and Conditions
color: black;
 font-size: 20px;
 font-family: Georgia;
 font-weight: 400;
 word-wrap: break-word

 // end of css for homepage